@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* regole generiche e reset rules */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

html{
  font-family: 'Montserrat';
}

span{
  display: inline-block;
}

h2{
  display: inline-block;
}

/* sezione header */

header{
  padding: 10px 10px 10px 5px;
}

.title{
  display: inline-block;
}

.logo, .title{
  vertical-align: middle;
}

/* centramento container + stile*/

.container{
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
}

/* stile nav */
.white-button, .blue-button{
  border-radius: 5px;
  padding: 5px 7px;
  display: inline-block;
}

.container>nav{
  padding: 15px 50px 10px;
}

.blue-button{
  color: white;
  background-color: rgb(15, 183, 230);
  border: 1px solid rgb(15, 180, 230);
}
.white-button{
  color: rgb(170, 169, 169);
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  
}

/* main section */

.main.container{
  margin-top: 1px;
  padding: 30px 50px;
}

.bg-main{
  padding-top: 50px;
  background-color: rgb(237, 243, 245);
}

/* to do list */
.edi{
  color: white;
  background-color: rgb(15, 183, 230);
  border-radius: 20px;
  padding: 5px 10px;
}

.check{
  font-weight: 800;
  color: rgb(10, 250, 130);
  height: 20px;
  width: 20px;
  border: 1px solid rgb(10, 250, 130);
  border-radius: 100%;
  padding-left: 2px;
  padding-bottom: 20px;
}

/* 1st point */

