@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* regole generiche e reset rules */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
  margin: 10px 0 20px;
}

html{
  font-family: 'Montserrat';
}

span{
  display: inline-block;
}

h2{
  display: inline-block;
}

/* sezione header */

header{
  padding: 10px 10px 10px 5px;
}

.title{
  display: inline-block;
}

.logo, .title{
  vertical-align: middle;
}

/* centramento container + stile*/

.container{
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
}

/* stile nav */
.white-button, .blue-button{
  border-radius: 5px;
  padding: 5px 7px;
  display: inline-block;
}

.container>nav{
  padding: 15px 50px 10px;
}

.blue-button{
  color: white;
  background-color: rgb(15, 183, 230);
  border: 1px solid rgb(15, 180, 230);
}
.white-button{
  color: rgb(170, 169, 169);
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  
}

/* main section */

.main.container{
  margin-top: 1px;
  padding: 30px 50px;
}

.bg-main{
  padding-top: 50px;
  background-color: rgb(237, 243, 245);
}

/* to do list */

.tasks{
  margin-bottom: 30px;
}

/* categorie tasks di vari colori */
.edi, .q1, .recruit, .mobi, .web, .sales{
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.edi{
  background-color: rgb(15, 183, 230);
}

.q1{
  background-color: rgb(166, 100, 253);
}

.recruit{
  background-color: rgb(2, 177, 153);
}

.mobi{
  background-color: rgb(233, 174, 12);
}

.web{
  background-color: rgb(201, 4, 158);
}

.sales{
  background-color: rgb(162, 207, 0);
}

/* simboli check e cross*/
.check, .cross{
  font-weight: 800;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.check{
  color: rgb(10, 250, 130);
  border: 1px solid rgb(10, 250, 130);
  border-radius: 50%;
  padding-left: 2px;
  padding-bottom: 20px;
}

.cross{
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding-left: 4.5px;
  padding-bottom: 19px;
}

/* 1st point */

